body {
    margin: 0;
    font-family: "Inter", sans-serif;
    background-color: #F6F7F8;
    display: flex;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px 20px 116px;
    box-shadow: 0px 4px 4px 0px #0000001A;
    background-color: white;
    position: sticky;
    top: 0;
}

.header-left p {
    font-size: 20px;
    margin: 0;
}

.header-left img {
    height: 39.02px;
    width: 32px;
    display: none;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header-help-icon {
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-user-icon {
    height: 56px;
    width: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #2A3647;
    border-radius: 559px;
}

.header-user-icon img {
    width: 27.94px;
    height: 14.24px;
}

.hpl-head {
    display: flex;
    justify-content: space-between;
    padding: 96px 96px 0 96px;
}

.hpl-head h1 {
    margin: 0;
    font-size: 61px;
}

.hpl-head a {
    color: #29ABE2;
    text-decoration: none;
}

.arrow-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
}

.hpl-content {
    padding: 16px 96px 24px 96px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.hpl-content a {
    color: #29ABE2;
    text-decoration: none;
}

.hpl-content a:hover {
    text-decoration: underline;
}

.hpl-content h2 {
    font-size: 27px;
    margin-top: 24px;
    margin-bottom: 16px;
}

.hpl-content h3 {
    margin: 0;
    font-size: 20px;
}

.hpl-content ul {
    padding-inline-start: 24px;
    margin: 0;
}

.hpl-content p {
    margin: 0;
}

.mobile-nav {
    display: none;
    justify-content: space-between;
    background-color: #2A3647;
    color: #CDCDCD;
    padding: 2px 16px;
    position: fixed;
    bottom: 0;
    width: calc(100vw - 32px);
}

.mobile-nav-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    height: 76px;
    width: 76px;
    font-size: 14px;
}

.mobile-nav-icon img {
    height: 24px;
    width: 24px;
}

.desktop-nav {
    padding: 64px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #2A3647;
    color: #CDCDCD;
    height: calc(100vh - 128px);
    width: 232px;
    position: sticky;
    top: 0;
    box-shadow: 0px 0px 4px 0px #0000001A;
}

.desktop-nav-icon-box {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.desktop-nav-icon {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 53px;
}

.desktop-nav-icon img {
    height: 25px;
    width: 25px;
}

.extra-links-desktop-nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 4px;
    height: 317px;
}

.contact-section {
    width: calc(100vw - 232px);
}

.contact-big {
    display: flex;
    align-items: center;
    gap: 30px;
}

.contact-big h1 {
    font-size: 61px;
}

.contact-big hr {
    height: 59px;
    border: 1px solid #29ABE2
}

.contact-big p {
    font-size: 27px;
}

.board-section {
    width: calc(100vw - 232px);
}

.board-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px 64px;
}

.board-head h1 {
    font-size: 61px;
}

.board-head input {
    height: 48px;
    width: 312px;
    border: 1px solid #A8A8A8;
    border-radius: 10px;
    font-size: 20px;
    color: #D1D1D1;
    padding: 8px 16px;
}

.board-head button {
    background-color: #2A3647;
    color: white;
    height: 48px;
    width: 160px;
    padding: 8px 16px;
    font-size: 21px;
    border: 1px solid #2A3647;
    border-radius: 10px;
}

.task-section {
    width: calc(100vw - 424px);
    padding: 48px 96px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.task-section h1 {
    font-size: 61px;
}

.task-section-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 20px;
}

.task-section-content input {
    width: 100%;
    padding: 12px 21px;
}

.task-section-content textarea {
    width: 100%;
    padding: 18px 16px;
    height: 72px;
}

.task-section-content select {
    width: 100%;
    padding: 12px 16px;
}

.task-section-content hr {
    border: 1px solid #D1D1D1;
    height: 424px;
}

.task-section-content-left {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.task-section-content-right {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.task-section-content-right button {
    width: 136px;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 0px #0000001A;
    border: 1px solid white;
    padding: 16px 10px;
}

.task-section-content-box {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 440px;
}

.task-section-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}